.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
}
.content {
  display: flex;
  height: 100%;
}
.left {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  padding: 45px;
}
.left textarea::-webkit-scrollbar {
  width: 7px;
  background-color: #f1f1f1;
}
.left textarea::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 5px;
}
.left textarea::-webkit-scrollbar-thumb:hover {
  background-color: #a7a7a7;
}
.left textarea {
  cursor: auto;
  height: 100%;
  width: 100%;
  line-height: 1.5rem;
  outline: none;
  border: none;
  box-sizing: border-box;
  color: #5e6678;
  background-color: transparent;
  font-size: 1rem;
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  resize: none;
}
.spliter {
  height: 100%;
  background-color: #5e6678;
}
.spliter:hover {
  cursor: col-resize;
}
.right {
  flex: 1 1 0;
  width: 0px;
  height: 100%;
  box-sizing: border-box;
}

.markdown_body {
  text-align: left;
  box-sizing: border-box;
  padding: 45px;
}

.markdown_body pre {
  display: block;
  overflow-x: auto;
  word-wrap: break-word;
  word-break: break-all;
  --scrollbar: #f1f1f1;
  --thumb: #c0c0c0;
}

.markdown_body pre::-webkit-scrollbar {
  height: 5px;
}
.markdown_body pre::-webkit-scrollbar-track {
  background-color: var(--scrollbar);
}
.markdown_body pre::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--thumb);
}
