.app_card {
  display: flex;
  position: relative;
  top: 0;
  box-sizing: border-box;
  width: 300px;
  margin: 0.75rem;
  padding: 1rem;
  text-align: left;
  background-color: white;
  border: solid #e6e7ea 1px;
  border-radius: 8px;
  transition: all 200ms;
}
.app_card:hover {
  cursor: pointer;
  top: -3px;
  box-shadow: 0 0 16px -5px #cccccc;
}
.app_card:hover h3 {
  color: #00adb5;
}
.app_title {
  margin: 0;
  color: #393e46;
}
.app_note {
  width: 100%;
  font-size: 14px;
  line-height: 1.5rem;
  color: #5e6678;
  margin: 0px;
}
.avatar {
  text-align: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
  background-color: #f4f5fa;
}
.avatar img {
  margin-top: 0.65rem;
  width: 1.75rem;
  height: 1.75rem;
}
