.content {
  display: flex;
  justify-content: center;
  padding: 3rem 3rem;
}
.image_wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  padding: 1.5rem;
  margin-right: 1rem;
  border-radius: 1rem;
}
.app_logo {
  max-width: 144px;
  max-height: 144px;
  border-radius: 1rem;
  position: relative;
  z-index: 2;
}
.image_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: rgba(200, 199, 199, 0.3);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  z-index: 1;
}
.background_blur {
  height: 66%;
  width: 66%;
  position: absolute;
  z-index: 0;
}
.content_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 1rem;
}
.content_info h1 {
  font-weight: 400;
  margin: 0 0 0.5rem;
}
.content_info p {
  margin: 0.375rem 0;
}
.button_group {
  margin-top: 1rem;
}
.secondary_content{
  display: flex;
  justify-content: center;
}
.secondary_content p {
  width: 75%;
  line-height: 2rem;
  padding: 0 3rem;
}
